{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <p>{% if user.is_anonymous %}{% trans "When you are authenticated." %}{% endif %}
    {% trans "You can test inplaceedit in the next URLs:" %}
    </p>
    <ul>
        <li><a href="{{ multimediaresources_url }}">{% trans "Multimedia resources(normal example)" %}</a></li>
        <li><a href="{{ unusual_url }}">{% trans "Unusual fields" %}</a></li>
        {% if news_url %}
            <li><a href="{{ news_url }}">{% trans "News (transmeta testing)" %}</a></li>
        {% else %}
            <li>{% trans "To enable News (transmeta testing), install django-transmeta" %}</li>
        {% endif %}
    </ul>
{% endblock %}