{% load i18n %}
<!-- it needs jquery to work 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js" type="text/javascript"></script>
-->
<script src="{{ STATIC_URL }}js/jquery.json.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.inplaceeditform.js" type="text/javascript"></script>

{% if activate_inplaceedit %}
<script type="text/javascript"> 
    (function($){
        $(document).ready(function () {
            var options = {"getFieldUrl": "{% url inplace_get_field %}",
                           "saveURL": "{% url inplace_save %}",
                           "successText": "{% trans "Successfully saved" %}",
                           "eventInplaceEdit": "{{ event }}",
                           "disableClick": {{ disable_click }},
                           "autoSave": {{ auto_save }}};
            var inplaceManager = $(".inplaceedit").inplaceeditform(options);
            {% if not toolbar %}
                inplaceManager.enable();
            {% else %}
                var enabledEditText = "{% trans "Enable edit inline" %}";
                var disabledEditText = "{% trans "Disable edit inline" %}";
                var toggleInplaceEdit = function () {
                    var trigger = $(this);
                    if (trigger.hasClass('active')) {
                        inplaceManager.disable();
                        trigger.removeClass('active');
                        trigger.html(enabledEditText);
                    } else {
                        inplaceManager.enable();
                        trigger.addClass('active');
                        trigger.html(disabledEditText);
                    }
                };
                var toolbar = $("<div id=\"toolbar-inplace-edit\"></div>").prependTo("body", 0);
                toolbar.append("<span class=\"toolbarActions\"></span>");
                var actions = toolbar.find(".toolbarActions");
                actions.append("<span class=\"toolbarAction\" id=\"ActivateInplaceEdit\">" + enabledEditText + "</span>");
                $("#ActivateInplaceEdit").click(toggleInplaceEdit);
                $("<div class=\"toolbar\"></div>");
            {% endif %}

    });
})(jQuery);
</script>
{% include "inplaceeditform/inc.csrf_token.html" %}
{% endif %}
