{% load i18n %}
<!-- it needs jquery to work 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js" type="text/javascript"></script>
-->
<script src="{{ STATIC_URL }}js/jquery.json.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.inplaceeditform.js" type="text/javascript"></script>

{% if activate_inplaceedit %}
<script type="text/javascript"> 
    (function($){
        $(document).ready(function () {
            var options = {"getFieldUrl": "{% url inplace_get_field %}",
                           "saveURL": "{% url inplace_save %}",
                           "successText": "{% trans "Successfully saved" %}",
                           "eventInplaceEdit": "{{ event }}",
                           "disableClick": {{ disable_click }},
                           "autoSave": {{ auto_save }},
                           "unsavedChanges": "{% trans "You have unsaved changes!" %}"};
            var inplaceManager = $(".inplaceedit").inplaceeditform(options);
            {% if not toolbar %}
                inplaceManager.enable();
            {% else %}
                if ($(".inplaceedit").size()) {
                    {% include "inplaceeditform/inc.inplace_toolbar.html" %}
                }
            {% endif %}

    });
})(jQuery);
</script>
{% include "inplaceeditform/inc.csrf_token.html" %}
{% endif %}
